@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
 
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@layer base {
  * {
    box-sizing: border-box;
  }

  /* Style the scrollbar track */
  ::-webkit-scrollbar {
    width: 6px; /* Set the width of the scrollbar */
  }

  /* Style the scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the thumb */
    border-radius: 3px; /* Rounded corners for the thumb */
  }

  /* Style the scrollbar thumb when hovered */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the thumb on hover */
  }

  /* Style the scrollbar track when the thumb is grabbed (clicked) */
  ::-webkit-scrollbar-thumb:active {
    background-color: #333; /* Color of the thumb when active */
  }


  .red-piece {
    background: linear-gradient(to top left, red 0%, rgb(255, 90, 90) 70%);
    box-shadow: 0.2rem 0.2rem 0.32rem rgba(0, 0, 0, 0.5);
  }
  .blue-piece {
    background: linear-gradient(to top left, blue 0%, rgb(90, 90, 255) 70%);
    box-shadow: 0.2rem 0.2rem 0.32rem rgba(0, 0, 0, 0.5);
  }

  .rule-popup {
    background: linear-gradient(to right, #e8dcc6 0%, #FFF 95%);
  }

}

@layer base {
  :root {
    --color-background: 4, 13, 18;
    --color-gray: 24, 61, 61;
    --color-primary: 92, 131, 116;
    --color-lite: 147, 177, 166;
  }
}